@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(https://themes.googleusercontent.com/static/fonts/droidsans/v3/s-BiyweUPV0v-yRb-cjciBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

body {
  margin-top: 50px;
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
  padding: 5px;
  margin: 5px;
}

.small-vertical-spacer {
  height: 20px;    
}

.small-horizontal-spacer {
  width: 20px;  
}

.at-least-200px {
  min-width: 200px;
}

.at-least-300px {
  min-width: 300px;
}

.fouc {
  display: none;
}

.greenTxt {
  background-color: #00FF00
}